// General
.container {
  max-width: 1200px !important;
}
.main {
  position: relative;
  &.active {
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.8);
      z-index: 3;
    }
  }
}

@function get-vw($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}


/* Import variable styles*/
@import "vars";
@import "typography";
/* Import header and footer */
@import "header";
@import "footer";
/* Import blocks */
@import 'blocks/hero';
@import 'blocks/show-example';
@import 'blocks/featured-products';
@import 'blocks/special-offer';
@import 'blocks/discount';
@import 'blocks/categories-products';
@import 'blocks/blog';
.content-wrapper {
  height: 100%;
  padding-top: get-vw(100px);
  background: rgba(255, 192, 203);
  display: table;
  @media  screen and (max-width: 769px) {
    padding-top: 60px;
  }
}